/**/
@import url('https://fonts.googleapis.com/css?family=Wallpoet');
body{
 background: black;  
 font-family: 'Wallpoet', cursive;
}
h1{
    color: yellow;
    text-align: center;
    margin-top: 40px;
    font-family: 'Wallpoet', cursive; 
}
.btn1{
    margin: 1px;
    margin-top: 20px; 
    width: 60px;
    color: yellow;
    background:black;
    border: 2px solid yellow; 
    border-radius: 60px;
}
.btn1:hover{
    background: #ffff99;
    border: 1px solid yellow;
    color: black;
}
.btn{
    margin-top: 20px;
    color: yellow;
    background:black;
    border: 2px solid yellow; 
    border-radius: 60px;
    font-family: 'Wallpoet', cursive;
    font-size: 18px;
}
.btn:hover{
    background: #ffff99;
    border: 1px solid yellow;
    color: black;
}
#result{
    margin-top: 60px;
}
